---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  chartRef:
    kind: OCIRepository
    name: rook-ceph-cluster
  interval: 1h
  values:
    cephClusterSpec:
      cleanupPolicy:
        wipeDevicesFromOtherClusters: true
      crashCollector:
        disable: false
      csi:
        readAffinity:
          enabled: false # https://github.com/ceph/ceph-csi/issues/5772
      dashboard:
        enabled: true
        urlPrefix: /
        ssl: false
        prometheusEndpoint: http://prometheus-operated.observability.svc.cluster.local:9090
      mgr:
        modules:
          - name: pg_autoscaler
            enabled: true
      network:
        connections:
          requireMsgr2: true
      resources:
        osd:
          limits:
            memory: 8Gi # Required for bootstrap
      storage:
        useAllNodes: true
        useAllDevices: false
        devices:
          - name: "sdb"
        # nodes:
        #   - name: alpha
        #     devices:
        #       - name: /dev/disk/by-id/ata-QEMU_HARDDISK_QM00005
        #     config:
        #       osdsPerDevice: "1"
        #   - name: bravo
        #     devices:
        #       - name: /dev/disk/by-id/ata-QEMU_HARDDISK_QM00005
        #     config:
        #       osdsPerDevice: "1"
        #   - name: charlie
        #     devices:
        #       - name: /dev/disk/by-id/ata-QEMU_HARDDISK_QM00005
        #     config:
        #       osdsPerDevice: "1"
    monitoring:
      enabled: true
      createPrometheusRules: true
    toolbox:
      enabled: true
    route:
      dashboard:
        host:
          name: rook.harissaeed.com
          path: /
          pathType: PathPrefix
        parentRefs:
          - name: envoy-internal
            namespace: network
    cephBlockPools:
      - name: ceph-blockpool
        spec:
          failureDomain: host
          replicated:
            size: 3
        storageClass:
          enabled: true
          name: ceph-block
          allowVolumeExpansion: true
          isDefault: true
          mountOptions:
            - discard
          parameters:
            compression_algorithm: zstd
            compression_mode: passive
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-publish-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-publish-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            imageFeatures: deep-flatten,exclusive-lock,fast-diff,layering,object-map
            imageFormat: "2"
          reclaimPolicy: Delete
          volumeBindingMode: Immediate
    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-blockpool
      isDefault: false
      deletionPolicy: Delete
    cephFileSystems: []
    cephObjectStores: []
