---
customization:
  extraKernelArgs:
    - intel_iommu=on # PCI Passthrough
    - iommu=pt # PCI Passthrough
    # - sysctl.kernel.kexec_load_disabled=1 # Meteor Lake CPU / iGPU (only for alpha node)
    # - i915.enable_guc=3 # Meteor Lake CPU / iGPU (only for alpha node)
  systemExtensions:
    officialExtensions:
      - siderolabs/qemu-guest-agent # QEMU Guest Agent (all nodes)
      # - siderolabs/intel-ucode # Intel iGPU (only for alpha node)
      # - siderolabs/mei # Intel iGPU (only for alpha node) # TODO: Check if this is needed for iGPU passthrough
      # - siderolabs/i915 # Intel iGPU (only for alpha node)

# curl -sX POST --data-binary @talos/schematic.yaml "https://factory.talos.dev/schematics" | jq -r '.id'
