# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
    name: nextcloud-secret
stringData:
    TIMEZONE: "#{ TIMEZONE }#"
    ADMIN_USER: "#{ NEXTCLOUD_USERNAME }#"
    ADMIN_PASS: "#{ NEXTCLOUD_PASSWORD }#"
    POSTGRES_DB: "#{ INIT_POSTGRES_DBNAME_NEXTCLOUD }#"
    POSTGRES_HOST: "#{ INIT_POSTGRES_HOST_NEXTCLOUD }#"
    POSTGRES_USER: "#{ POSTGRES_SUPER_USER }#"
    POSTGRES_PASS: "#{ POSTGRES_SUPER_PASS }#"
    SMTP_HOST: "#{ SMTP_HOST }#"
    SMTP_FROM: "#{ SMTP_FR }#"
    SMTP_USERNAME: "#{ SMTP_USERNAME }#"
    SMTP_PASSWORD: "#{ SMTP_PASSWORD }#"
    MAIL_DOMAIN: "#{ MAIL_DOMAIN }#"



