apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: ${APP}
spec:
  scaleTargetRef:
    name: ${APP}
  minReplicaCount: ${MIN_REPLICA_COUNT:=0}
  maxReplicaCount: ${MAX_REPLICA_COUNT:=1}
  cooldownPeriod: ${COOLDOWN_PERIOD:=300}
  triggers:
    - type: external-push
      metadata:
        scalerAddress: keda-add-ons-http-external-scaler.observability:9090
        interceptorRoute: ${APP}-interceptor-route
