# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
    name: vaultwarden-secret
stringData:
    ADMIN_TOKEN: "#{ apps.ADMIN_TOKEN }#"
    SMTP_HOST: "#{ apps.SMTP_HOST }#"
    SMTP_FROM: "#{ apps.SMTP_FROM }#"
    SMTP_USERNAME: "#{ apps.SMTP_USERNAME }#"
    SMTP_PASSWORD: "#{ apps.SMTP_PASSWORD }#"
