---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
spec:
  chartRef:
    kind: OCIRepository
    name: vaultwarden
  interval: 1h
  values:
    controllers:
      vaultwarden:
        containers:
          app:
            image:
              repository: ghcr.io/dani-garcia/vaultwarden
              tag: 1.35.2-alpine@sha256:dc364d362273e5604b13b02059dc98d60471e885c0a831e26be6c05ed5d488d0
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop: ["ALL"]
            env:
              DOMAIN: https://bw.cloud.nh.harissaeed.com
              TZ: "Europe/Berlin"
              SIGNUPS_ALLOWED: "true"
              INVITATIONS_ALLOWED: "false"
              SENDS_ALLOWED: "true"
              EMERGENCY_ACCESS_ALLOWED: "true"
              WEBSOCKET_ENABLED: true"
              WEBSOCKET_ADDRESS: "0.0.0.0"
              WEBSOCKET_PORT: "3012"
              PASSWORD_HINTS_ALLOWED: "false"
              SHOW_PASSWORD_HINT: "false"
              LOGIN_RATELIMIT_SECONDS: "60"
              LOGIN_RATELIMIT_MAX_BURST: "5"
              DISABLE_ICON_DOWNLOAD: "true"
              ORG_CREATION_USERS: ""
              INCOMPLETE_2FA_TIME_LIMIT: "3"
              LOG_LEVEL: warn
              EXTENDED_LOGGING: "true"
              SMTP_SECURITY: force_tls
              SMTP_PORT: 465
            envFrom:
              - secretRef:
                  name: vaultwarden-secret

            resources:
              requests:
                cpu: 10m
                memory: 28Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: vaultwarden
        ports:
          http:
            port: 80
    route:
      app:
        hostnames: ["bw.cloud.nh.harissaeed.com"]
        parentRefs:
          - name: envoy-tailscale
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: vaultwarden
                port: 80

    persistence:
      data:
        existingClaim: vaultwarden
        globalMounts:
          - path: /data

