# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
    name: vaultwarden-secret
stringData:
    ADMIN_TOKEN: "#{ ADMIN_TOKEN }#"
    SMTP_HOST: "#{ SMTP_HOST }#"
    SMTP_FROM: "#{ SMTP_FROM }#"
    SMTP_USERNAME: "#{ SMTP_USERNAME }#"
    SMTP_PASSWORD: "#{ SMTP_PASSWORD }#"
