# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
    name: immich-secret
stringData:
    INIT_POSTGRES_DBNAME: "#{ apps.INIT_POSTGRES_DBNAME }#"
    INIT_POSTGRES_HOST: "#{ apps.INIT_POSTGRES_HOST }#"
    INIT_POSTGRES_USER: "#{ apps.POSTGRES_SUPER_USER }#"
    INIT_POSTGRES_PASS: "#{ apps.POSTGRES_SUPER_PASS }#"
    JWT_SECRET: "#{ apps.JWT_SECRET }#"
    INIT_POSTGRES_USER_FLAGS: "#{ apps.INIT_POSTGRES_USER_FLAGS }#"
    INIT_POSTGRES_SUPER_USER: "#{ apps.POSTGRES_SUPER_USER }#"
    INIT_POSTGRES_SUPER_PASS: "#{ apps.POSTGRES_SUPER_PASS }#"
