---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/source.toolkit.fluxcd.io/ocirepository_v1beta2.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: nextcloud
spec:
  interval: 30m
  timeout: 60s
  url: oci://ghcr.io/nextcloud/helm/nextcloud
  ref:
    tag: 8.9.0
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name nextcloud
spec:
  interval: 1h
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: nextcloud
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      # we don't want to rollback because it will break nextcloud
      ignoreTestFailures: true
  values:
    deploymentAnnotations:
      reloader.stakater.com/auto: "true"
    image:
      flavor: fpm-alpine
    nextcloud:
      host: cloud.${SECRET_DOMAIN}
      existingSecret:
        enabled: true
        secretName: nextcloud-secret
        usernameKey: NEXTCLOUD_USERNAME
        passwordKey: NEXTCLOUD_PASSWORD
        smtpUsernameKey: SMTP_USERNAME
        smtpPasswordKey: SMTP_PASSWORD
        smtpHostKey: SMTP_HOST
      datadir: /var/www/html/data
      mail:
        enabled: true
        fromAddress: ${SMTP_FROM}
        domain: gmail.com
        smtp:
          host: ${SMTP_HOST}
          port: 465
          authtype: LOGIN
          secure: starttls

      configs:
        local.config.php: |-
          <?php
          $CONFIG = array (
            'trusted_proxies' =>
            array (
              0 => '127.0.0.1',
              1 => '10.96.0.0/12',
              2 => '10.244.0.0/16',
              3 => '192.168.0.0/16',
            ),
            'trusted_domains' =>
            array (
              0 => 'cloud.${SECRET_DOMAIN}',
            ),
            'forwarded_for_headers' => array('HTTP_X_FORWARDED_FOR'),
            'overwrite.cli.url' => 'https://cloud.${SECRET_DOMAIN}',
            'overwriteprotocol' => 'https',
            'default_phone_region' => 'ID',
            'maintenance_window_start' => 20,
          );
      extraEnv:
        - name: REDIS_HOST
          value: dragonfly.databases.svc.cluster.local
        - name: REDIS_HOST_PORT
          value: "6379"

    nginx:
      enabled: true
      config:
        headers:
          Strict-Transport-Security: "max-age=15552000; includeSubDomains; preload;"
    internalDatabase:
      enabled: false
    externalDatabase:
      enabled: true
      type: postgresql
      host: nextcloud-pooler.databases.svc.cluster.local:5432
      database: nextcloud
      existingSecret:
        enabled: true
        secretName: nextcloud-secret
        usernameKey: INIT_POSTGRES_USER
        passwordKey: INIT_POSTGRES_PASS
    cronjob:
      enabled: true
    startupProbe:
      enabled: true
    resources:
      requests:
        cpu: 100m
        memory: 363Mi
      limits:
        memory: 363Mi
    securityContext:
      fsGroupChangePolicy: OnRootMismatch
    persistence:
      enabled: true
      existingClaim: *name
