---
# yaml-language-server: $schema=https://kubernetes-schemas.18b.haus/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
spec:
  timeout: 15m
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: nextcloud

  values:
    deploymentAnnotations:
      secret.reloader.stakater.com/reload: nextcloud-secret
    image:
      repository: nextcloud
      tag: 32.0.5-fpm-alpine
      flavor: fpm-alpine

    replicaCount: 1

    ingress:
      enabled: false

    phpClientHttpsFix:
      enabled: true

    nextcloud:
      host: cloud.harissaeed.com
      datadir: /var/www/data
      existingSecret:
        enabled: true
        secretName: nextcloud-secret
        usernameKey: ADMIN_USER
        passwordKey: ADMIN_PASS
        smtpHostKey: SMTP_HOST
        smtpUsernameKey: SMTP_USERNAME
        smtpPasswordKey: SMTP_PASSWORD
      mail:
        enabled: true
        fromAddress: ${SMTP_FROM}
        domain: ${SECRET_MAIL_DOMAIN}
        smtp:
          host: ${SMTP_HOST}
          port: 465
          authtype: LOGIN
          secure: ssl

      phpConfigs:
        uploadLimit.ini: |
          upload_max_filesize = 16G
          post_max_size = 16G
          max_input_time = 3600
          max_execution_time = 3600
      configs:
        local.config.php: |-
          <?php
          $CONFIG = array(
            'trusted_proxies' => array(
              '127.0.0.1',
              '10.0.0.0/8',
              '192.168.0.0/16',
              '192.168.0.158',
            ),
            'forwarded_for_headers' => array('HTTP_X_FORWARDED_FOR'),
            'default_phone_region' => 'DE',
            'auth.bruteforce.protection.enabled' => true,
            'maintenance_window_start' => 1,
            'simpleSignUpLink.shown' => false,
            'overwrite.cli.url' => 'https://cloud.harissaeed.com',
          );

      hooks:
        post-installation: |-
          php occ maintenance:repair --include-expensive
          php occ db:add-missing-indices
          php occ db:add-missing-columns
          php occ db:add-missing-primary-keys
        # before-starting: |-
        #   # disable unneceserry apps
        #   for appname in activity circles systemtags federation privacy \
        #       nextcloud_announcements announcementcenter support survey_client \
        #       user_status weather_status dashboard app_api
        #     do
        #     php occ app:disable "$appname"
        #   done
        post-upgrade: |-
          php occ maintenance:repair --include-expensive
          php occ db:add-missing-indices
          php occ db:add-missing-columns
          php occ db:add-missing-primary-keys
      lifecycle:
        postStartCommand:
        - su
        - www-data
        - -s
        - /bin/sh
        - -c
        - >-
          cd /var/www/html;
          ./occ upgrade;
          ./occ db:add-missing-indices;
          /bin/true
      persistence:
        enabled: true
        existingClaim: nextcloud-conf
        nextcloudData:
          enabled: true
          existingClaim: nextcloud-data
          accessMode: ReadWriteMany
      resources:
        requests:
          cpu: 100m
          memory: 212Mi
        limits:
          memory: 2Gi
      startupProbe:
        enabled: true
        initialDelaySeconds: 5
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 360
        successThreshold: 1
      livenessProbe:
        enabled: true
        initialDelaySeconds: 5
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 3
        successThreshold: 1
      readinessProbe:
        enabled: true
        initialDelaySeconds: 5
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 3
        successThreshold: 1
      nginx:
        enabled: true
        image:
          repository: public.ecr.aws/nginx/nginx
          tag: "1.29.5"
        config:
          default: true
        # securityContext:
        #   runAsGroup: 33
        resources:
          requests:
            cpu: 10m
            memory: 20Mi
          limits:
            memory: 100Mi
      internalDatabase:
        enabled: false
      externalDatabase:
        enabled: true
        type: postgresql
        database: nextcloud
        existingSecret:
          enabled: true
          secretName: nextcloud-secret
          databaseKey: POSTGRES_DB
          hostKey: POSTGRES_HOST
          passwordKey: POSTGRES_PASS
          usernameKey: POSTGRES_USER

      redis:
        enabled: false
      externalRedis:
        enabled: true
        host: dragonfly.databases.svc.cluster.local
        port: 6379
      collabora:
        enabled: false

      cronjob:
        enabled: true
        cronjob:
          schedule: "0 */4 * * *"

      # securityContext:
      #   fsGroupChangePolicy: OnRootMismatch
        # fsGroup: 33

      service:
        type: ClusterIP
        port: 8080
      metrics:
        enabled: false
        https: true
        serviceMonitor:
          enabled: false

