---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/source.toolkit.fluxcd.io/ocirepository_v1beta2.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: nextcloud
spec:
  interval: 30m
  timeout: 60s
  url: oci://ghcr.io/nextcloud/helm/nextcloud
  ref:
    tag: 8.7.0
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name nextcloud
spec:
  interval: 1h
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: nextcloud
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      # we don't want to rollback because it will break nextcloud
      ignoreTestFailures: true
  values:
    deploymentAnnotations:
      reloader.stakater.com/auto: "true"
    image:
      flavor: fpm-alpine
    nextcloud:
      host: cloud.${SECRET_DOMAIN}
      existingSecret:
        enabled: true
        secretName: nextcloud-secret
        usernameKey: NEXTCLOUD_USERNAME
        passwordKey: NEXTCLOUD_PASSWORD
        smtpUsernameKey: SMTP_USERNAME
        smtpPasswordKey: SMTP_PASSWORD
        smtpHostKey: SMTP_HOST
      datadir: /var/www/html/data
      mail:
        enabled: true
        fromAddress: ${SMTP_FROM}
        domain: gmail.com
        smtp:
          host: ${SMTP_HOST}
          port: 465
          authtype: LOGIN
          secure: starttls


      phpConfigs:
        www.conf: |
          [www]
          user = www-data
          group = www-data
          listen = 127.0.0.1:9000
          pm = dynamic
          pm.max_children = 4
          pm.start_servers = 4
          pm.min_spare_servers = 2
          pm.max_spare_servers = 4
          pm.max_requests = 800
          request_terminate_timeout = 600
        php.ini: |
          max_execution_time = 600
          default_socket_timeout = 300
          curl.cainfo = /etc/ssl/certs/ca-certificates.crt
          extension=imagick
          extension=exif
          extension=intl
          extension=gd
          memory_limit = 8G
          opcache.memory_consumption = 512
          opcache.max_accelerated_files = 20000
          opcache.revalidate_freq = 60

      # hooks:
      #   post-installation: |-
      #     printf "Add missing DB indices\n"
      #     php occ db:add-missing-indices
      #   before-starting: |-
      #     # disable unneceserry apps
      #     for appname in activity circles systemtags federation privacy \
      #         nextcloud_announcements announcementcenter support survey_client \
      #         user_status weather_status dashboard
      #       do
      #       php occ app:disable "$appname"
      #     done
      #   post-upgrade: |-
      #     # based on https://github.com/nextcloud/all-in-one/blob/25c580bca370eaead5f1fad9d3842a9c49562dff/Containers/nextcloud/entrypoint.sh#L451-L457
      #     php occ maintenance:repair --include-expensive
      #     php occ db:add-missing-indices
      #     php occ db:add-missing-columns
      #     php occ db:add-missing-primary-keys


      configs:
        local.config.php: |-
          <?php
          $CONFIG = array (
            'trusted_proxies' =>
            array (
              0 => '127.0.0.1',
              1 => '10.96.0.0/12',
              2 => '10.244.0.0/16',
              3 => '192.168.0.0/16',
            ),
            'trusted_domains' =>
            array (
              0 => 'cloud.${SECRET_DOMAIN}',
            ),
            'forwarded_for_headers' => array('HTTP_X_FORWARDED_FOR'),
            'overwrite.cli.url' => 'https://cloud.${SECRET_DOMAIN}',
            'overwriteprotocol' => 'https',
            'default_phone_region' => 'ID',
            'maintenance_window_start' => 20,
          );
        caching.config.php: |-
          <?php
          $CONFIG = array (
            'memcache.local' => '\\OC\\Memcache\\APCu',
            'memcache.distributed' => '\\OC\\Memcache\\Redis',
            'memcache.locking' => '\\OC\\Memcache\\Redis',
            'filelocking.enabled' => true,
            'redis' => array(
              'host' => 'dragonfly.databases.svc.cluster.local',
              'port' => 6379,
              'timeout' => 0.0,
              'password' => '',
            ),
          );
        performance.config.php: |-
          <?php
          $CONFIG = array (
            'enable_previews' => true,
            'enabledPreviewProviders' => array(
              'OC\Preview\PNG',
              'OC\Preview\JPEG',
              'OC\Preview\GIF',
              'OC\Preview\BMP',
              'OC\Preview\XBitmap',
              'OC\Preview\MP3',
              'OC\Preview\TXT',
              'OC\Preview\MarkDown',
              'OC\Preview\OpenDocument',
              'OC\Preview\Krita',
              'OC\Preview\HEIC',
              'OC\Preview\PDF',
              'OC\Preview\TIFF',
              'OC\Preview\SVG',
              'OC\Preview\MP4',
              'OC\Preview\Movie',
            ),
            'preview_max_x' => 2048,
            'preview_max_y' => 2048,
            'preview_max_scale_factor' => 1,
            'preview_concurrency_new' => 4,
            'preview_concurrency_all' => 4,
            'jpeg_quality' => 60,
          );
      extraEnv:
        - name: REDIS_HOST
          value: dragonfly.databases.svc.cluster.local
        - name: REDIS_HOST_PORT
          value: "6379"

    nginx:
      enabled: true
      config:
        headers:
          Strict-Transport-Security: "max-age=15552000; includeSubDomains; preload;"
    internalDatabase:
      enabled: false
    externalDatabase:
      enabled: true
      type: postgresql
      host: nextcloud-pooler.databases.svc.cluster.local:5432
      database: nextcloud
      existingSecret:
        enabled: true
        secretName: nextcloud-secret
        usernameKey: INIT_POSTGRES_USER
        passwordKey: INIT_POSTGRES_PASS
    cronjob:
      enabled: true
    startupProbe:
      enabled: true
    resources:
      requests:
        cpu: 100m
        memory: 363Mi
      limits:
        memory: 363Mi
    securityContext:
      fsGroupChangePolicy: OnRootMismatch
    persistence:
      enabled: true
      existingClaim: *name
