---
# yaml-language-server: $schema=https://kubernetes-schemas.18b.haus/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
spec:
  timeout: 15m
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: nextcloud

  values:
    deploymentAnnotations:
      secret.reloader.stakater.com/reload: nextcloud,nextcloud-init-db
    image:
      registry: public.ecr.aws
      repository: docker/library/nextcloud
      flavor: fpm-alpine
    phpClientHttpsFix:
      enabled: true
    nextcloud:
      host: cloud.harissaeed.com
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        readOnlyRootFilesystem: false
      extraInitContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:18.1@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
          envFrom:
            - secretRef:
                name: nextcloud-init-db
      extraEnv:
        - name: REDIS_HOST
          value: dragonfly.databases.svc.cluster.local
        - name: REDIS_PORT
          value: "6379"

      existingSecret:
        enabled: true
        secretName: nextcloud-secret
        usernameKey: ADMIN_USER
        passwordKey: ADMIN_PASS
        smtpHostKey: SMTP_HOST
        smtpUsernameKey: SMTP_USERNAME
        smtpPasswordKey: SMTP_PASSWORD
      mail:
        enabled: true
        fromAddress: ${SMTP_FROM}
        domain: ${SECRET_MAIL_DOMAIN}
        smtp:
          host: ${SMTP_HOST}
          port: 465
          authtype: LOGIN
          secure: starttls

      defaultConfigs:
        redis.config.php: false
      configs:
        local.config.php: |-
          <?php
          $CONFIG = array(
            'trusted_proxies' => array(
              '127.0.0.1',
              '10.0.0.0/8',
            ),
            'forwarded_for_headers' => array('HTTP_X_FORWARDED_FOR'),
            'default_phone_region' => 'DE',
            'auth.bruteforce.protection.enabled' => true,
            'maintenance_window_start' => 1,
            'simpleSignUpLink.shown' => false,
          );
        redis.config.php: |-
          <?php
          $CONFIG = array(
            'memcache.distributed' => '\OC\Memcache\Redis',
            'memcache.locking' => '\OC\Memcache\Redis',
            'redis' => array(
              'host' => getenv('REDIS_HOST'),
              'port' => getenv('REDIS_PORT') ?: 6379,
              'dbindex' => getenv('REDIS_DATABASE') ?: 0,
            ),
          );
      phpConfigs:
        uploadLimit.ini: |
          upload_max_filesize = 16G
          post_max_size = 16G
          max_input_time = 3600
          max_execution_time = 3600
    persistence:
      enabled: true
      existingClaim: nextcloud-config
      nextcloudData:
        enabled: true
        existingClaim: nextcloud-data
    resources:
      requests:
        cpu: 100m
        memory: 212Mi
      limits:
        memory: 2Gi
    startupProbe:
      enabled: true
      initialDelaySeconds: 5
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 360
      successThreshold: 1
    livenessProbe:
      enabled: true
      initialDelaySeconds: 5
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 3
      successThreshold: 1
    readinessProbe:
      enabled: true
      initialDelaySeconds: 5
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 3
      successThreshold: 1
    nginx:
      enabled: true
      image:
        repository: public.ecr.aws/nginx/nginx
      config:
        default: true
      securityContext:
        runAsGroup: 82
      resources:
        requests:
          cpu: 10m
          memory: 20Mi
        limits:
          memory: 100Mi
    internalDatabase:
      enabled: false
    externalDatabase:
      enabled: true
      type: postgresql
      database: nextcloud
      existingSecret:
        enabled: true
        secretName: nextcloud-secret
        databaseKey: POSTGRES_DB
        hostKey: POSTGRES_HOST
        passwordKey: POSTGRES_PASS
        usernameKey: POSTGRES_USER
    redis:
      enabled: false
    metrics:
      enabled: false
      https: true
      serviceMonitor:
        enabled: false
    cronjob:
      enabled: true
      sidecar:
        securityContext:
          runAsGroup: 1000
    securityContext:
      fsGroupChangePolicy: OnRootMismatch
