apiVersion: batch/v1
kind: Job
metadata:
  name: nextcloud-job-config-postinstall
spec:
  ttlSecondsAfterFinished: 3600
  template:
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
      - name: nextcloud-job-config-postinstall
        image: docker.io/library/nextcloud:32.0.6-fpm-alpine
        command: ["/bin/sh", "-c"]
        args: ["sleep 600; until php /var/www/html/occ status --output json | grep -q '\"installed\":true'; do sleep 10; done && php /var/www/html/occ upgrade && php /var/www/html/occ db:add-missing-indices && php /var/www/html/occ db:add-missing-columns && php /var/www/html/occ db:add-missing-primary-keys && php /var/www/html/occ db:convert-filecache-bigint && php /var/www/html/occ maintenance:repair --include-expensive"]
        volumeMounts:
        - name: app-config
          mountPath: /var/www/html
          subPath: config
        - name: data
          mountPath: /data
          subPath: data
      nodeSelector:
        kubernetes.io/hostname: "bravo"
      restartPolicy: OnFailure
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: nextcloud-data
      - name: app-config
        persistentVolumeClaim:
          claimName: nextcloud
---
apiVersion: batch/v1
kind: Job
metadata:
  name: nextcloud-job-config-addapps
spec:
  ttlSecondsAfterFinished: 3600
  template:
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
      - name: nextcloud-job-config-addapps
        image: docker.io/library/nextcloud:32.0.6-fpm-alpine
        command: ["/bin/sh", "-c"]
        args: ["sleep 660; until php /var/www/html/occ status --output json | grep -q '\"installed\":true'; do sleep 10; done && php /var/www/html/occ app:disable firstrunwizard && php /var/www/html/occ app:disable support && php /var/www/html/occ app:disable federation && php /var/www/html/occ app:disable app_api && php /var/www/html/occ app:disable survey_client && php /var/www/html/occ app:disable user_status && php /var/www/html/occ app:enable admin_audit && php /var/www/html/occ app:enable files_pdfviewer && php /var/www/html/occ app:enable groupfolders && php /var/www/html/occ app:enable user_migration && php /var/www/html/occ app:install files_antivirus && php /var/www/html/occ app:install deck && php /var/www/html/occ app:install calendar && php /var/www/html/occ app:install files_retention && php /var/www/html/occ app:install duplicatefinder"]
        volumeMounts:
        - name: app-config
          mountPath: /var/www/html
          subPath: config
        - name: data
          mountPath: /data
          subPath: data
      nodeSelector:
        kubernetes.io/hostname: "bravo"
      restartPolicy: OnFailure
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: nextcloud-data
      - name: app-config
        persistentVolumeClaim:
          claimName: nextcloud

---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: nextcloud-cronjob-cron
spec:
  schedule: "*/5 * * * *" # Every 5 minutes
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 60
      template:
        spec:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
          containers:
            - name: nextcloud-cronjob-cron
              image: docker.io/library/nextcloud:32.0.6-fpm-alpine
              command:
                - sh
                - -c
                - |
                  until php /var/www/html/occ status --output json | grep -q '"installed":true'; do
                    echo "Waiting for Nextcloud installation...";
                    sleep 10;
                  done;
                  if [ -f /var/www/html/cron.php ]; then
                    php -f /var/www/html/cron.php;
                  else
                    echo "cron.php not found, skipping execution";
                  fi
              volumeMounts:
                - name: app-config
                  mountPath: /var/www/html
                  subPath: config
                - name: data
                  mountPath: /data
                  subPath: data
          nodeSelector:
            kubernetes.io/hostname: "bravo"
          restartPolicy: OnFailure
          volumes:
            - name: app-config
              persistentVolumeClaim:
                claimName: nextcloud
            - name: data
              persistentVolumeClaim:
                claimName: nextcloud-data
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: nextcloud-cronjob-missingindices
  namespace: nextcloud
spec:
  #schedule: "*/1 * * * *" # Every minute
  schedule: "0 3 * * *"  # Every day at 3:00 a.m.
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 3600
      template:
        spec:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
          containers:
          - name: nextcloud-cronjob-missingindices
            image: docker.io/library/nextcloud:32.0.6-fpm-alpine
            command: ["/bin/sh", "-c"]
            args:
              - |
                until php /var/www/html/occ status --output json | grep -q '"installed":true'; do
                  echo "Waiting for Nextcloud installation...";
                  sleep 10;
                done;
                php /var/www/html/occ maintenance:mode --on
                php /var/www/html/occ db:add-missing-indices
                php /var/www/html/occ maintenance:mode --off
            volumeMounts:
            - name: app-config
              mountPath: /var/www/html
              subPath: config
            - name: data
              mountPath: /data
              subPath: data
          nodeSelector:
            kubernetes.io/hostname: "bravo"
          restartPolicy: OnFailure
          volumes:
          - name: app-config
            persistentVolumeClaim:
              claimName: nextcloud
          - name: data
            persistentVolumeClaim:
              claimName: nextcloud-data
