---
# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: cloudnative-pg-secret
stringData:
  username: "#{  apps.POSTGRES_SUPER_USER }#"
  password: "#{ apps.POSTGRES_SUPER_PASS }#"
  ACCESS_KEY_ID: "#{ apps.ACCESS_KEY_ID }#"
  CNPG_BUCKET_SEC: "#{ apps.CNPG_BUCKET_SEC }#"
