---
# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-secret
stringData:
  BUDDY_HEARTBEAT_TOKEN: "#{{ BUDDY_HEARTBEAT_TOKEN }}#"
  BUDDY_HEARTBEAT_URL: "https://"#{{ BUDDY_STATUS_HOSTNAME }}#"/api/v1/endpoints/buddy_heartbeat/external?success=true"
  ALERTMANAGER_PUSHOVER_TOKEN: "#{{ ALERTMANAGER_PUSHOVER_TOKEN }}#"
  PUSHOVER_USER_KEY: "#{{ PUSHOVER_USER_KEY }}#"
  password: "#{ ROOK_DASHBOARD_PASSWORD }#"

