# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
    name: garage
stringData:
    GARAGE_RPC_SECRET: "#{ apps.GARAGE_RPC_SECRET }#"
    GARAGE_ADMIN_TOKEN: "#{ apps.GARAGE_ADMIN_TOKEN }#"
    GARAGE_METRICS_TOKEN: "#{ apps.GARAGE_METRICS_TOKEN }#"
