---
# yaml-language-server: $schema=https://kubernetes-schemas.nerdz.cloud/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: nextcloud
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: nextcloud
  # components:
  #   - ../../../../components/nfs-scaler
  #   - ../../../../components/volsync
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: databases
    - name: dragonfly-cluster
      namespace: databases
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  interval: 1h
  path: "./kubernetes/apps/default/nextcloud/app"
  postBuild:
    substitute:
      APP: nextcloud
      VOLSYNC_CAPACITY: 1Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  timeout: 5m
  wait: false

