# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
    name: minio-secret
stringData:
    MINIO_ROOT_USER: "#{ MINIO_ROOT_USER }#"
    MINIO_ROOT_PASSWORD: "#{ MINIO_ROOT_PASSWORD }#"
