---
# yaml-language-server: $schema=https://kubernetes-schemas.ergho.org/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: nextcloud
  namespace: databases
  # annotations:
  #   cnpg.io/skipEmptyWalArchiveCheck: enabled
spec:
  instances: 2
  imageName: ghcr.io/cloudnative-pg/postgresql:17.10-minimal-trixie@sha256:b8aa2492786fde3b1c00c0c156093ef05ce03df1541aead9d9c7b6abe27128e3
  primaryUpdateStrategy: unsupervised
  primaryUpdateMethod: switchover

  storage:
    size: 2Gi
    storageClass: openebs-hostpath

  resources:
    requests:
      cpu: 40m
      memory: 540Mi
    limits:
      memory: 2G
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true

  postgresql:
    parameters:
      max_connections: "500"
      shared_buffers: 512MB

  nodeMaintenanceWindow:
    inProgress: false
    reusePVC: true

  bootstrap:
    recovery:
      source: origin

  externalClusters:
    - name: origin
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: garage-store-recovery
          serverName: nextcloud
