---
apiVersion: pgbackrest.dalibo.com/v1
kind: Stanza
metadata:
  name: cnpg-backup
  namespace: databases
spec:
  stanzaConfiguration:
    name: cnpg-backup
    s3Repositories:
      - bucket: cnpg-backup
        endpoint: s3.harissaeed.com
        region: auto
        repoPath: /
        uriStyle: path
        verifyTLS: true
        retentionPolicy:
          full: 14
          fullType: count
          diff: 30
          archive: 7
          archiveType: full
          history: 30
        secretRef:
          accessKeyId:
            name: cloudnative-pg-secret
            key: MINIO_ROOT_USER
          secretAccessKey:
            name: cloudnative-pg-secret
            key: MINIO_ROOT_PASSWORD


