---
# yaml-language-server: $schema=https://kubernetes-schemas.ergho.org/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: nextcloud
  namespace: databases
  # annotations:
  #   cnpg.io/skipEmptyWalArchiveCheck: enabled
spec:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:17.8-minimal-trixie@sha256:2beaf0401cdf95d3bb0c083ec33f044cc5ad5f80cfa9490ba1ab6dc8342a2bbc
  primaryUpdateStrategy: unsupervised
  primaryUpdateMethod: switchover

  storage:
    size: 15Gi
    storageClass: openebs-hostpath

  resources:
    requests:
      cpu: 40m
      memory: 1024Mi
    limits:
      memory: 2G
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true

  postgresql:
    parameters:
      max_connections: "500"
      shared_buffers: 512MB

  nodeMaintenanceWindow:
    inProgress: false
    reusePVC: true

  bootstrap:
    recovery:
      source: origin

  externalClusters:
    - name: origin
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: minio-store-recovery
          serverName: nextcloud
