apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: minio-store-recovery
  namespace: databases
spec:
  configuration:
    destinationPath: s3://barman-backups/
    endpointURL: http://minio.databases.svc.cluster.local:9000
    s3Credentials:
      accessKeyId:
        name: cloudnative-pg-secret
        key: MINIO_ROOT_USER
      secretAccessKey:
        name: cloudnative-pg-secret
        key: MINIO_ROOT_PASSWORD
    wal:
      maxParallel: 1
  instanceSidecarConfiguration:
    env:
      - name: AWS_REQUEST_CHECKSUM_CALCULATION
        value: when_required
      - name: AWS_RESPONSE_CHECKSUM_VALIDATION
        value: when_required
    resources:
      requests:
        cpu: 5m
        memory: 150Mi
      limits:
        cpu: 30m
        memory: 500Mi
