---
apiVersion: v1
kind: Service
metadata:
  name: nextcloud-cluster-lb
  namespace: databases
  annotations:
    io.cilium/lb-ipam-ips: 192.168.0.13
spec:
  type: LoadBalancer
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: nextcloud-cluster
    role: primary
