# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
    name: nextcloud-secret
stringData:
    TIMEZONE: "#{ apps.TIMEZONE }#"
    ADMIN_USER: "#{ apps.NEXTCLOUD_USERNAME }#"
    ADMIN_PASS: "#{ apps.NEXTCLOUD_PASSWORD }#"
    INIT_POSTGRES_DBNAME: "#{ apps.INIT_POSTGRES_DBNAME_NEXTCLOUD }#"
    INIT_POSTGRES_HOST: "#{ apps.INIT_POSTGRES_HOST_NEXTCLOUD }#"
    INIT_POSTGRES_USER: "#{ apps.POSTGRES_SUPER_USER }#"
    INIT_POSTGRES_PASS: "#{ apps.POSTGRES_SUPER_PASS }#"
    INIT_POSTGRES_SUPER_PASS: "#{ apps.POSTGRES_SUPER_PASS }#"
    SMTP_HOST: "#{ apps.SMTP_HOST }#"
    SMTP_FROM: "#{ apps.SMTP_FROM }#"
    SMTP_USERNAME: "#{ apps.SMTP_USERNAME }#"
    SMTP_PASSWORD: "#{ apps.SMTP_PASSWORD }#"
    MAIL_DOMAIN: "#{ apps.MAIL_DOMAIN }#"

